
h1{
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    text-align: center;
}

.contenedor de tarjeta {
    width: 50%;
    top: 50%;
    left: 50%;
}
.imagen/descanso.jpg {
    
    

}
